<p>Интеграция с Calltouch позволяет загружать звонки из вашего кабинета Calltouch в проект Roistat и отправлять заявки по звонкам из Roistat в CRM.</p>
<b>Webhook URL:</b>
<pre>{{integrationWebhookUrl}}</pre>